@model IEnumerable<quanLyPhongMach.Models.DonViTinh>

@{
    ViewBag.Title = "Đơn Vị Tính";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Assets/CSS/Home.css")
    @Styles.Render("~/Assets/CSS/tableandbutton.css")
}

<style>
    input#searchQuery {
        height: 33px;
        width: 250px;
    }

    .form-group {
        display: flex;
        gap: 15px;
        align-items: center
    }

    .toolbar-tk-1 {
        display: flex;
        gap: 15px;
        align-items: center
    }

    .tktk {
        display: flex;
        gap: 15px;
    }

    .toolbar-tk {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .skk12 {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        margin-top: 12px;
    }
</style>


<div class="container">
    <h2>
        Đơn Vị Tính
    </h2>
    <button class="btn_class btn-class-dm-2d">
        @Html.ActionLink("Thêm Mới", "ThemMoiDonViTinh")
    </button>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>
                Row ID
            </th>
            <th>
                Đơn Vị Thuốc
            </th>
            <th></th>
        </tr>
        @{
            var stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonViThuoc)
                </td>
                <td>
                    <button class="btn_class">
                        @Html.ActionLink("Sửa", "SuaDonViTinh", new { id = item.IDDonVi }) |
                    </button>
                    <button class="btn_class">
                        @Html.ActionLink("Xóa", "XoaDonViTinh", new { id = item.IDDonVi }) |
                    </button>
                </td>
            </tr>
            stt++;
        }

    </table>

</div>