@model quanLyPhongMach.Models.tb_HangSanXuat

@{
    ViewBag.Title = "Xóa Hãng Sản Xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Assets/CSS/Home.css")
    @Styles.Render("~/Assets/CSS/tableandbutton.css")
}
<style>
    h4 {
        font-size: 22px
    }


    .ccss {
        display: flex;
        gap: 12px;
    }

    .form-group {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .form-horizontal {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px solid #333;
        border-radius: 6px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    /*Popup*/
    .popup {
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        border: 0.5px solid #333;
        visibility: hidden
    }



        .popup img {
            width: 100px;
            margin-top: -50px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        .popup h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 30px 0 10px;
        }

        .popup #btn_btn {
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background: #6fd649;
            color: #fff;
            border: 0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
</style>



<div class="container">
    <div>
        <div class="form-horizontal">
            <h4>Chi Tiết Hãng Sản Xuất</h4>
            <hr />
            <dl class="dl-horizontal">
                <div class="form-group">
                    <dt>
                        Tên Hãng Sản Xuất
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenHangSanXuat)
                    </dd>
                </div>

                <div class="form-group">
                    <dt>
                        Ghi Chú
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GhiChu)
                    </dd>
                </div>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color ccss">
                    <input type="submit" value="Xóa" onclick="openPopup()" id="xnxnxn" class="btn btn_class btn-default" /> 
                    <button class="btn_class">
                        @Html.ActionLink("Quay Trở Lại", "HangSanXuat")
                    </button>
                </div>
            }
        </div>
    </div>

    @*Ps*@
    @*Thông Báo*@
    <div class="popup" id="popup">
        <img src="~/Assets/IMGS/404-tick.png" alt="tich-xm" />
        <h2>Cảm Ơn</h2>
        <p>Bạn Đã Xóa Thành Công </p>

    </div>





    <script>
    var popupTimeout;

    function openPopup() {
        var popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        popupTimeout = setTimeout(closePopup, 10000);
    }

    function closePopup() {
        var popup = document.getElementById("popup");
        popup.style.visibility = "hidden";
        clearTimeout(popupTimeout);
    }


        document.getElementById("xnxnxn").addEventListener("click", function (event) {


        var xacNhan = confirm("Bạn có muốn xóa  không?");


        if (xacNhan) {
            console.log("Các Dịch Vụ Liên Quan đã được xóa.");


            document.getElementById("popup").style.display = "block";
        }
    });
    </script>


